.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px;
}
.sidebaroptioncontainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  padding-right: 12px;
}
.sidebaroptioncontainer:hover {
  background-color: #fce4e6;
  border-radius: 9999px;
  color: var(--twitter-color);
  transition: color 50ms ease-out;
  transition: backgroud-color 0.3s ease-in-out;
}

.sidebaroptioncontainer > .MuiSvgIcon-root {
  padding: 12px;
}


/* .sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 9999px;
  color: var(--twitter-color);
  transition: color 150ms ease-in-out;
} */

/* .sidebarOption > .MuiSvgIcon-root {
  padding: 12px;
} */

.sidebaroptioncontainer > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}
